* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #22313f;
}
input[type="text"] {
  outline: none;
  background-color: #1cc97e;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s;
}
.ParkingContainer {
  width: 100%;
  margin: 3rem 3rem 3rem 13rem;
}
.CarInputText {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  color: #3fb984;
}
