.Sidebar {
  position: fixed;
  width: 10rem;
  height: 100%;
  padding: 1.8rem 0;
  background-color: #32475b;
}
.Sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 2.6rem;
  background: #3fb984;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  color: #32475b;
  font-size: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.4s;
}
.Sidebar a:hover {
  background: rgb(55, 78, 99);
  color: #3fb984;
  width: 100%;
}
