<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="cars.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Checar Placas</title>
      </head>
<body>
    <!-- SIDEBAR -->
    <div class="Container">
      <div class="Sidebar">
        <div class="SidebarButtons">
          <li><a href="./index.html" class="CarButton">Carros</a></li>
          <li><a href="#" class="ID_button">Placas</a></li>
        </div>
      </div>
      <!-- SIDEBAR -->
      <main class="ParkingContainer" id="ParkingContainer">
        <!-- PRICE INPUT -->
        <!-- PRICE INPUT -->
        <!-- CREATE CAR INPUT -->
        <div class="CarInputText">
          <h4>Checar a legalidade dos veículos</h4>
        </div>
        <div class="AddCarWrapper">
          <div class="CreateCar" id="CreateCar">
            <label for="NameInput">Placa:</label>
            <input
              v-model="CarNumber"
              @keyup.enter="AddCar"
              type="text"
              id="NameInput"
              maxlength="7"
            />
            <button @click="AddCar" class="CreateButton">Checar</button>
          </div>
        </div>
        <!-- CREATE CAR INPUT -->
        <!-- CAR LIST -->
        <div class="TableValues">
          <span class="CarSpan">Placa</span>
          <span class="CarSpan">Status</span>
        </div>

        <div class="ParkingList" id="ParkingList">
          <li
            class="CarList"
            id="CarList"
            v-for="car in cars"
            v-bind:key="car.id"
          >
            <div class="CarWrapper">
              <p>{{ car.title }}</p>
            </div>

            <div>
              <p>{{ car.hour }}:{{ car.minutes}}</p>
            </div>

            <div>
              <p v-for="price in prices" v-bind:key="price.id">
                R${{car.arriveTime - price.pay }}
              </p>
            </div>

            <button
              @click="RemoveCar(car)"
              class="DeleteButton"
              type="button"
              name="button"
              id="RemoveButton"
            >
              Deletar
            </button>
          </li>
          <div></div>
        </div>
      </main>
      <!-- CAR LIST -->
    </div>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>